html {
  height: 100%;
}

body {
  height: 100%;
}

#app {
  min-height: 100%;
}

.navbar-item {
  color: #fff;
  background-color: hsl(0, 0%, 21%);

  &.active {
    background-color: hsl(0, 0%, 29%) !important;
  }

  &:hover {
    color: #fff !important;

    &:not(.active) {
      background-color: hsl(0, 0%, 21%) !important;
    }
  }
}

.burger span {
  color: #fff;
}

#app {
  background-color: hsl(0, 0%, 29%);
}

.colorview {
  background: rgba(255, 255, 255, 0.05);
  padding: 15px;
  width: 62.5%;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;

  .chrome-picker {
    height: 625px;
    width: 950px !important;
  }

  input {
    -webkit-appearance: slider-vertical;
  }
}